
body{
    background-color:rgb(28, 143, 209);
    color: white; 
}

img{
    height: 70px;
    width: 80px;
}

.back{
    height: 40px;
    width: 80px;
    font-size: 17px; 
}




